// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$font-sm: 1.2em;
$font-md: 1.67em;
$font-lg: 2.2em;
$font-xl: 3em;
$line-height-base: 1.6;

// Colors
$text-primary: #1d3557;
$text-secondary: #a8dadc;
$text-muted: #a0a0a0;
$error: #dc3545;
$required: #f80e25;
$bg-primary: #f2f8ff;
$bg-secondary: #457b9d;
$icons-color: #ff6d91;
$color-primary-dark: #01382d;
$color-primary: #0a9d53;
$color-secondary: #45eb8a;
$color-ternary: #707070;
$color-quartery: #a1d9c6;
$boundary: #a1d9c6;
$footer-left: #bfefdb;
$error: #f20000;

// animations
$transition-speed: 600ms;
